<form>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
      <input type="text" class="form-control" name="searchString" placeholder="Type to search..." [(ngModel)]="searchString">
    </div>
  </div>
</form>

<table class="table table-striped table-bordered table-hover">
  <tr>
    <th (click)="orderTable('id')">ID</th>
    <th (click)="orderTable('name')">Name</th>
  </tr>
  <tr *ngFor="let hero of heroes | filterTable : searchString | orderTable : sortString : sortType" (click)="goToDetail(hero)">
    <td class="text-left">
      {{hero.id}}
    </td>
    <td class="text-left">
      {{hero.name}}
    </td>
  </tr>
</table>