<div class="container">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li routerLinkActive="active">
            <a routerLink="/dashboard">Dashboard</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/heroes">Heroes</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/sortablelist">Hero List</a>
          </li>
        </ul>

        <app-hero-search></app-hero-search>
      </div>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>
