<div class="page-header">
  <h1>My heroes</h1>
</div>

<form class="form-inline">
  <div class="form-group">
    <label>Hero name:</label>
    <input class="form-control" #heroName>
  </div>
  <button type="button" class="btn btn-default" (click)="add(heroName.value); heroName.value=''">Add</button>
</form>

<br>

<ul class="list-group">
  <li class="list-group-item" *ngFor="let hero of heroes" [class.active]="hero === selectedHero">
    ID: {{hero.id}} / Name: {{hero.name}}
    <div class="btn-group">
      <button type="button" class="btn btn-default" (click)="goToDetail(hero)">
        <span class="glyphicon glyphicon-pencil"></span>
      </button>
      <button type="button" class="btn btn-default" (click)="delete(hero)">
        <span class="glyphicon glyphicon-trash"></span>
      </button>
    </div>
  </li>
</ul>

